:root {
  /* primary-text */
  --Pale-Violet: hsl(276, 100%, 81%);
  --Moderate-Violet: hsl(276, 55%, 52%);
  --Desaturated-Dark-Violet: hsl(271, 15%, 43%);
  --Grayish-Blue: hsl(206, 6%, 79%);
  --Very-Dark-Desaturated-Violet: hsl(271, 36%, 24%);
  --Dark-Grayish-Violet: hsl(270, 7%, 64%);

  /* gradients */
  --Light-Magenta: hsl(293, 100%, 63%);
  --Light-Violet: hsl(264, 100%, 61%);

  /* secondary */
  --White: hsl(0, 0%, 100%);
  --Light-Grayish-Violet: hsl(270, 20%, 96%);
  --Very-Light-Magenta: hsl(289, 100%, 72%);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--Light-Grayish-Violet);
}

* {
  font-family: "Rubik", sans-serif;
}

p {
  margin: 0;
}

.form-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.left {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.overlay {
  width: 90%;
  height: 100vh;
  border-radius: 0 0 50% 0;
  background: linear-gradient(
    to right,
    var(--Light-Magenta),
    var(--Light-Violet)
  );
}

.phone-area {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 7%;
  left: 33.3%;
  width: 300px;
  height: 600px;
  background-color: var(--White);
  border-radius: 30px;
  padding: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.avatar-area {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to bottom,
    var(--Light-Magenta),
    var(--Light-Violet)
  );
  border-radius: 25px;
  box-sizing: border-box;
  padding: 15px;
  z-index: 2;
}

.avatar-area::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 20px;
  background-color: white;
  border-radius: 0 0 20px 20px;
}

.avatar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.back-icon {
  color: var(--White);
}

.avatar-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid var(--White);
  overflow: hidden;
}

.avatar-icon > img {
  max-width: 100%;
  object-fit: cover;
}

.avatar-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  letter-spacing: 0.05cap;
  line-height: 1.3;
}

.avatar-info > span {
  color: var(--White);
  font-weight: 600;
}

.avatar-info > p {
  color: var(--Pale-Violet);
  font-size: 11px;
}

.more-options-icon {
  color: white;
}

.mess-area {
  position: relative;
  display: grid;
  grid-template-rows: auto auto auto auto;
  align-items: center;
  background-color: var(--Light-Grayish-Violet);
  height: 100%;
  width: 100%;
  border-radius: 0 0 20px 20px;
  box-sizing: border-box;
  padding: 10px;
}

.mess-area::before {
  position: absolute;
  content: "";
  top: -25px;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: var(--Light-Grayish-Violet);
  z-index: 1;
}

.pre-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.pre-chat {
  width: 150px;
  height: fit-content;
  padding: 10px;
  background-color: var(--Grayish-Blue);
  border-radius: 10px 10px 10px 0;
  font-size: 10px;
  color: var(--Moderate-Violet);
  letter-spacing: 0.05cap;
  line-height: 1.3;
  font-weight: 500;
}

.post-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.img-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.img-area > img {
  height: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.post-chat {
  width: 150px;
  height: 20px;
  padding: 10px;
  background-color: var(--White);
  border-radius: 10px 10px 0 10px;
  font-size: 10px;
  color: var(--Very-Dark-Desaturated-Violet);
  letter-spacing: 0.05cap;
  line-height: 1.3;
  font-weight: 500;
}

.pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  padding: 10px;
  background: linear-gradient(
    to right,
    var(--Light-Magenta),
    var(--Light-Violet)
  );
  border-radius: 10px 10px 10px 0;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid var(--Very-Light-Magenta);
}

.info {
  font-size: 12px;
  color: var(--Pale-Violet);
}

.price {
  font-size: 12px;
  font-weight: 500;
  color: var(--White);
}

.send-message {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  background-color: var(--White);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: var(--Grayish-Blue);
  box-sizing: border-box;
  padding-left: 10px;
}

.send-btn {
  position: absolute;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.send-btn > i {
  color: var(--Very-Dark-Desaturated-Violet);
  font-size: 25px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.title {
  color: var(--Desaturated-Dark-Violet);
  font-size: 50px;
  font-weight: 700;
}

.text {
  color: var(--Dark-Grayish-Violet);
  font-size: 16px;
  letter-spacing: 0.05cap;
  line-height: 1.3;
  width: 450px;
}

@media screen and (max-width: 440px) {
  .form-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    gap: 50px;
    scale: 0.6;
  }

  .overlay {
    height: 100vh;
  }
}
